.main {
  height: auto;
  padding: 60px 0;
}

.öffnungszeiten__box,
.telefon__box,
.kontakt__box {
  border-radius: 10px;
  padding: 20px;
  min-width: 300px;
  width: 100%;
  background-color: rgba(240, 238, 238, 0.5);
  box-shadow: 0 2px 8px rgba(56, 56, 56, 0.452);
  backdrop-filter: blur(10px);
}

.öffnungszeiten__box h2,
.telefon__box h2,
.kontakt__box h2 {
  color: #555;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.24);
  display: flex;
  align-items: center;
  gap: 10px;
}

.öffnungszeiten__box ul,
.telefon__box ul,
.kontakt__box ul {
  font-size: 1.1rem;
  color: #555;
  padding: 15px;
  border-radius: 15px;
}

.öffnungszeiten__box li,
.telefon__box li,
.kontakt__box li {
  font-size: 1.1rem;
  color: #555;
  line-height: 30px;
}

.öffnungszeiten__box span,
.telefon__box span,
.kontakt__box span {
  color: #A82834;
}
.praxis__info{
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

/* =========================
   Media Queries
========================= */

/* Mobile */
@media screen and (max-width: 767px) {
.öffnungszeiten__box h2,
.telefon__box h2,
.kontakt__box h2 {font-size: 1.3rem;margin-top: 5px;}

.öffnungszeiten__box ul,
.telefon__box ul,
.kontakt__box ul {font-size: 1rem;}

.öffnungszeiten__box li,
.telefon__box li,
.kontakt__box li {font-size: 1rem;}

.praxis__info {display: flex;flex-direction: column;align-items: center;gap: 10px;}
.öffnungszeiten__box,
.telefon__box,
.kontakt__box {padding: 10px;}
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
 .öffnungszeiten__box h2,
.telefon__box h2,
.kontakt__box h2 {font-size: 1.4rem;}

.öffnungszeiten__box ul,
.telefon__box ul,
.kontakt__box ul {font-size: 1.3rem;}

.öffnungszeiten__box li,
.telefon__box li,
.kontakt__box li {font-size: 1.1rem;}

.praxis__info {display: grid;;gap: 10px; grid-template-columns: 1fr 1fr;}

}
 

/* Landscape */
@media screen and (max-width: 767px) and (orientation: landscape) {
  .öffnungszeiten__box h2,
  .telefon__box h2,
  .kontakt__box h2 { font-size: 1.2rem; }
  .öffnungszeiten__box li,
  .telefon__box li,
  .kontakt__box li { font-size: 0.9rem; line-height: 30px; }

  .praxis__info {display: grid;;gap: 10px; grid-template-columns: 1fr 1fr;}
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
   .öffnungszeiten__box h2,
  .telefon__box h2,
  .kontakt__box h2 { font-size: 1.4rem; }
  .öffnungszeiten__box li,
  .telefon__box li,
  .kontakt__box li { font-size: 1rem; line-height: 30px; }

  .praxis__info {display: grid;;gap: 10px; grid-template-columns: 1fr 1fr;}
}

 

