.kontakt{
     height: auto;
}
.kontakt__content h1{
    text-align: center;
}
.kontakt__content span{
    color: #A82834;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.288);
}
.kontakt__content{
    padding: 40px;
}
.kontakt__wrapper{
  background: linear-gradient(rgba(255, 255, 255, 0.534), rgba(255, 255, 255, 0.596)),
                url("../../Assets/Praxis-images/kontakt_telefon.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.anschrift_wrapper{
    background-color: #fff;
    padding: 10px ;
}
.anschrift_wrapper h2{
    margin-bottom: 20px;
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24)
}
.anschrift_wrapper li{
    line-height: 30px;
    font-size: 1.1rem;
}
 .termin__header h2{
    color: #555;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 30px;
 }
 .termin__text{
    line-height: 30px;
    font-size: 1.1rem;
}
 .termin__text span{
    margin-left: 10px;
 }
.anschrift_wrapper li{
    display: flex;
    gap: 8px;
    align-items: center;
    padding-bottom: 8px;
}
.kontakt__flex {
  display: flex;
  gap: 10px;
  margin-top: 50px;
  justify-content: space-around;
}
.map__container {
  flex: 1;
  min-width: 300px;
}

.termin__text_card {
  display: flex;
  align-items: flex-start;
  gap: 1.7rem;
    background-color: rgba(240, 238, 238, 0.5);
  box-shadow: 0 2px 8px rgba(56, 56, 56, 0.452);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.termin__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #555;
  font-size: 1.1rem;
  line-height: 1.6;
}

.termin__content strong {
  color: #A82834;
}
.termin_vereinbarung{
    display: flex;
    gap: 10px;
} 


.rezept_bestellungen_wrapper{
   background-color: #f7f7f7;
  padding: 30px;
  margin-top: 30px;
        box-shadow: 15px 1px 8px rgba(56, 56, 56, 0.658);
}
.bestellung__container{
    display: flex;
   padding: 30px 0 30px 0;
    justify-content: space-between;
}
.bestellungen_box h2{
    color: #A82834;
    margin-bottom:30px ;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24)
}
.bestellungen_box p{
    line-height: 30px;
    font-size: 1.1rem;
 
}

.img__端berweisung{
    position: absolute;
    width: 80%;
    left: 50px;
    top: 20px;
 }
 .img__rezept{
    max-width: 450px;
    width: 100%;
 }
 .termin__container{
     background-color: #fff;
     padding: 50px 0 80px 0;      
 }
 .rezept__端berweisung__container{
    position: relative;
}












/* Mobile Version */

 @media screen and (max-width: 767px) {
.kontakt__flex{display: flex;flex-direction: column;}
.anschrift_wrapper li{line-height: 30px;font-size: 1rem;}
.bestellung__container{display: flex;flex-direction: column;gap: 10px;font-size: 1rem;align-items: center;}
.bestellungen_box h2{font-size: 1.3rem;}
.bestellungen_box p{font-size: 1rem;  ;}
.img__端berweisung{position: absolute;width: 80%;left: 50px;top: 20px;}
.img__rezept{max-width:auto;}
.termin__text span{
    margin-left: 10px;
 }
.termin__content {font-size: 1rem;line-height: 1.6;}
 }






 @media screen and (min-width: 768px) and (max-width: 1023px) {
.kontakt__flex{display: flex;}
.anschrift_wrapper li{font-size: 1.1rem;}
.bestellung__container{display: flex;flex-direction: column;gap: 10px;font-size: 1rem;align-items: center;}
.bestellungen_box h2{font-size: 1.3rem;text-align: center;}
.bestellungen_box p{font-size: 1.1rem; text-align: center;}
.img__端berweisung{position: absolute;width: 80%;left: 50px;top: 20px;}
.img__rezept{max-width:auto;}
.termin__text span{
    margin-left: 10px;
 }
.termin__content {font-size: 1.1rem;line-height: 1.6;}
 }










 
/* Landscape */
@media screen and (max-width: 767px) and (orientation: landscape) {
.anschrift_wrapper li{line-height: 30px;font-size: 1rem;}
.bestellungen_box p{line-height: 25px;font-size: 0.7rem;}
.termin__content {font-size: .7rem;line-height: 1.6;}
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
.anschrift_wrapper li{line-height: 30px;font-size: 1rem;}
.bestellungen_box p{line-height: 25px;font-size: 1rem;}
.termin__content {font-size: 1rem;line-height: 1.6;}
}


