 .header {
  height: auto;
  color: #565A60;
  background-color: rgba(240, 238, 238, 0.5);
  padding: 60px 5px 60px 5px;
  box-shadow: 0 2px 8px rgba(56, 56, 56, 0.452);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.praxis__image img {
  border-radius: 15px;
}
.praxis__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

 .praxis__text h1{
  color: #555;
  text-align: center;
 }
 .praxis__text span{
  color: #A12632;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.288);
 }
 .praxis__text p{
  max-width: 500px;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 30px;
 }
  .praxis__image img {
    width: 100%;
    max-width: 100%;
    border-radius: 12px;
  }


.praxis__image{
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;       
  overflow: hidden;   
  max-height:500px;    
  height: 100%;
}
 
.praxis__image img {
  border-radius: 15px; 
}
 


/* Media__Screen */
 @media screen and (max-width: 767px) {
  .praxis__box {flex-direction: column-reverse; gap: 30px;}
  .praxis__text h1 {font-size: 1.5rem; margin-bottom: 20px;}
  .praxis__text p {font-size: 1rem; line-height: 24px; margin-top: 10px;}
  .praxis__image .image-gallery {min-width: 0; width: 100%; margin: 0 auto;}
  .header {padding: 30px 5px 30px 5px;}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .praxis__box {flex-direction: column-reverse; gap: 30px; padding: 30px;}
  .praxis__text h1 {font-size: 1.7rem}
  .praxis__text p {font-size: 1.25rem; line-height: 28px;}
  .praxis__image .image-gallery {width: 100%; max-width: 100%; margin: 0 auto; min-width: 0;}
  .praxis__image img {width: 100%;max-width: 100%;}
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .praxis__box {display: flex; flex-wrap: wrap-reverse;}
  .praxis__text h1 {font-size: 2rem}
  .praxis__text p{max-width: 400px;width: 100%;text-align: none;font-size: 1.2rem;line-height: 1.875rem;}
    .praxis__image img {
    width: 100%;
    max-width: 100%;
  }
}

