  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

html, body, #root, .App {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}

#nprogress .bar {
  background: #A82834 !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  padding-top: 90px;
}

/* ---- responsive breakpoints ---- */
@media screen and (max-width: 767px) {
  body {
  padding-top: 70px;
}
  .container {
    padding: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
  padding-top: 80px;
}
  .container {
    padding: 20px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .container {
    padding: 15px;
  }
}

 